{% extends "base.html" %}
{% block title %}{{post.title|escape}} // {{config.blog_name}}{% endblock %}
{% block body %}
  <div class="post-title">{{post.title|escape}}</div>
    <p class="post-info">
    {{post.published|date:"d.m.Y"}}<br />
      {% if post.tags %}
        Filed under:
        {% for tag in post.tags %}
          <a href="/tag/{{tag|escape}}">{{tag|escape}}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      {% endif %}
    </p>
  <div class="post">
  {{post.rendered}}
  {% if config.disqus_forum %}
    <div id="disqus_thread"></div>
    {% if devel %}
      <script type="text/javascript">
        disqus_developer = 1;
      </script>
    {% endif %}
    <script type="text/javascript" src="http://disqus.com/forums/{{config.disqus_forum}}/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/{{config.disqus_forum}}/?url=ref">View the discussion thread.</a></noscript>
  {% endif %}
  </div>
{% endblock %}
